body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nome {
    color: white;
}

.nav-link {
    color: white;
}

.projetos {
    font: bold;
    margin-top: 13%;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #4d4d4d;
    font-size: 0.8rem;
    text-align: center;
}

    /* Integrantes */

 .ana {
    width: 100px;
    border-radius: 100%;
    margin-right: -400px;
}

.lara {
    width: 120px;
    border-radius: 150%;
}

.luis {
    width: 100px;
    border-radius: 100%;
    margin-right: -400px;
}

.isabel {
    width: 100px;
    border-radius: 100%;
    margin-right: -400px;
}

.sophia {
    width: 100px;
    border-radius: 100%;
    margin-right: -400px;
}

.thiago {
    width: 100px;
    border-radius: 100%;
    margin-right: -400px;
}

.vitoria {
    width: 100px;
    border-radius: 100%;
    margin-right: -400px;
}

.ale {
    width: 100px;
    border-radius: 100%;
    margin-right: -400px;
}

.camila {
    width: 100px;
    border-radius: 100%;
    margin-right: -400px;
}

.regina {
    width: 100px;
    border-radius: 100%;
    margin-right: -400px;
}

.integrantes img {
    margin-right: -60px;
    margin-left: 20%;
    margin-top: 10%;
}

.titleIntegrantes {
    text-align: center;
}

.person {
    display: flex;
}

.infoPerson h1{
    margin-top: 30px;
    margin-left: 80px;
    font-size: 22px;
    color: #000000;
}

.infoPerson p{
    color: #000000;
    opacity: 0.4;
    font-size: 19px;
    margin-left: 80px;
    position: relative;
    top: -8px;
}

.infoPerson {
    margin-right: -10px;
}
